html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.parent {
  font-size: 2rem;
}
h1 {
  font-size: 5rem;
  text-align: center;
}
h2 {
  font-size: 4rem;
  text-align: center;
}
.about-card {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 7rem;
  width: 30%;
  align-items: center;
}

.about {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 7rem;
}

.photo {
  width: 20vw;
  box-shadow: 60px -16px teal;
}

.header::before {
  content: "\1F5A4";
  font-size: 5rem;
  position: absolute;
  left: 40%;
}

.header:hover {
  transform: scale(1.5);
  transition: all 0.6s;
}

.about-card:hover {
  transform: scale(1.5);
  transition: all 0.6s;
}

.animation {
  height: 2rem;
  width: 2rem;
  animation: test 4s infinite;
  position: absolute;
}

@keyframes test {
  0% {
    left: 50%;
    bottom: -98%;
  }
  25% {
    left: 50%;
    bottom: -100%;
  }
  50% {
    left: 55%;
    bottom: -100%;
  }
  75% {
    left: 55%;
    bottom: -98%;
  }
  100% {
    left: 50%;
    bottom: -98%;
  }
}

.moth {
  left: 30%;
  position: absolute;
}

.moth:hover {
  transition: all 5s;
  transform: rotate(360deg);
  margin: 6rem;
}

.unus-annus:hover {
  transition: all 5s;
  transform: rotate(360deg);
  margin: 6rem;
}
