html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.parent {
  font-size: 2rem;
}
h1 {
  font-size: 5rem;
  text-align: center;
}
h2 {
  font-size: 4rem;
  text-align: center;
}
.about-card {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 7rem;
  width: 30%;
  align-items: center;
}

.about {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 7rem;
}

img {
  width: 20vw;
  box-shadow: 60px -16px rgb(33, 143, 143);
}

.header::before {
  content: "\1F5A4";
  font-size: 5rem;
  position: absolute;
  left: 40%;
}

.header:hover {
  transform: scale(1.5);
  transition: all 0.6s;
}

.about-card:hover {
  transform: scale(1.1);
  transition: all 0.4s;
  outline: 0.5rem solid rgb(33, 143, 143);
}

.gallery:hover .about-card:not(:hover) {
  transform: scale(0.5);
  opacity: 0.3;
}
